*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    width: 80%;
    margin: auto;
}
header{
    background-color: #C1FFF2;
    height: 1024px;
}
nav{
    background-color: #026E64;
}
nav > .wrapper{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navMenu{
    display: flex;
    gap:  30px;
}
.navList{
    list-style: none;
}
.navLink{
    color: black;
    text-decoration: none;
}
.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}


.landingPage{
    display: grid;
    grid-template-areas: 
    'text hero'
    ;
    margin-top: 5%;
}

.bannerText{
    margin-top: 75px;
    grid-area: text;
    width: 400px;
    position: absolute;
    z-index: 4;
}
.bannerText h1{
    margin-bottom: 50px;
}
.btnSeeCourses{
    margin-top: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border: none;
    padding: 10px;
    background-color: #6500CA;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.btnSeeCourses:hover{
    cursor: pointer;
}
/* text: Education */
#text{
    color: #026E64;
}

.heroBanner{
    grid-area: hero;
    position: absolute;
    right: 5%;
    z-index: 2;
}
.heroBanner > img{
    width: 100%;
}

.info{
    background-color: #8FF8B6;
    background-image: linear-gradient(to right, #8FF8B6, #6DF8A6);
}
.info > .wrapper{
    display: grid;
    grid-template-areas: 
    'students graduates approval awards'
    ;
}
.info > .wrapper div{
    padding: 20px;
}
.students{
    grid-area: students;
}
.graduates{
    grid-area: graduates;
}
.approval{
    grid-area: approval;
}
.awards{
    grid-area: awards;
}

/* Vectors... Hindi ko po alam kung paano ilagay ung bilog bilog kaya nag export nalang po ako para malagay sa bg */
.vectors{
    z-index: 1;
}
.vectors > img{
    position: absolute;
}
#vec{
    top: 59px;
    right: 0;
}
#vec1{
    top: 706px;
    right: 0;
}
#vec2{
    top: 347px;
}

@media only screen and (max-width: 900px){
    header{
        height: 750px;
    }
    nav{
        justify-content: space-between;
    }

    .wrapper{
        width: 90%;
    }
    .bannerText{
        width: 200px;
    }
    .heroBanner{
        right: 1%;
    }
    .heroBanner > img{
        margin-right: -300px;
    }

    #vec, #vec1{
        width: 11%;
    }
    #vec1{
        top: 500px;
    }
    #vec2{
        width: 24%;
    }
}
@media only screen and (max-width: 700px){
    header{
        height: 650px;
    }
    .hamburger{
        display: block;
        position: absolute;
        z-index: 10;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45045deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45045deg);
    }
    .navMenu{
        position: absolute;
        left: -1000px;
        top: 0;
        gap: 5px;
        padding: 20px;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        flex-direction: column;
        background-color: #026E64;
        z-index: 9;
    }
    .navMenu.active{
        left: 0;
    }

    .info > .wrapper{
        grid-template-areas: 
        'students graduates'
        'approval awards'
        ;
    }
}

