* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.navigation {
    background-color: #026E64;
    /* width: 5em; */
    width: 100%;
    height: 3.8em;
    transition: .3s all;
    /* height: 5em; */
    /* position: fixed; */
    top: 0;
    /* bottom: 0; */

}
.navbar-container {
    height: 100%;
}
.menu-nav {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    transition: .3s all;
}
.menu-nav .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s all;
}
.menu-nav .menu li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    margin: 0 1em;
}
.navbar-container nav {
    /* position: relative; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    flex-direction: row;
    align-items: center;
    transition: .3s all;
}
.active {
    transform: translateX(0) !important; 
    transition: .3s all;
}
.navbar-container .top-nav {
    transform: translateX(-100%);
    background-color: #026E64;
    position: absolute;
    top: 60px;
    display: flex; 
    flex-direction: column;
    /* flex-direction: row; */
    align-items: center;
    font-size: 1.6em;
    /* width: 100%; */
    width: 60%;
    height: 100vh;
    transition: .3s all;
}
.navbar-container .bottom-nav {
    /* display: none; */
}
.top-nav li {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    padding: .9em 1em;
}
.top-nav li a {
    color: #ffffff;
    display: flex;
    gap: 1.2em;
    
}
.top-nav li:hover {
    background-color: #C1FFF2;
    width: 100%;
}
.top-nav li:hover a {
    color: #6500CA;
}

@media only screen and (min-width: 768px) {
    .navbar-container .top-nav {
        /* flex-direction: row; */
        position: block;
        transform: translateX(0);
        width: 80px;
        height: 100vh;
        overflow: hidden;
    }
    .activeNavPc {
        width: 40% !important; 
    }
    .navigation {
        width: 5em;
    }
    .activeMenuPc {
        width: 40% !important; 
    }
}
.main-course {
    width: 95%;
    margin: auto;
}
main {
    margin: 2em 0;
}
.vid img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
aside {
    background-color: #C1FFF2;
    width: 100%;
    height: 80vh;
}
@media only screen and (min-width: 768px) {
    .main-course {
        width: 80%;
        margin: 0 2em 0 auto;
    }
}
@media only screen and (min-width: 1080px) {
    .main-course {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        gap: 1em;
        margin-left: 6em;
        margin-right: auto;
        
    }
    aside {
        max-width: 20em;
    }
}