* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

.leaderboard {
    background: linear-gradient(89.81deg, #BDF7FF 0.16%, rgba(189, 247, 255, 0.26) 99.84%);
    border-radius: 19px;
    width: 30em;

    display: flex;
    justify-content: space-between;
    padding: 2em;
    align-items: center;
}
.font-box {
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}
.font-box h3 {
    color: #FC7900;
    font-weight: 700;
    font-size: 2.3em;
}
.font-box label {
    font-size: 1.2em;
    font-weight: 700;
}
.font-box p {
    font-size: .8em;
}
.font-box span {
    color: #FC7900;
}
.top-dashboard {
    display: flex;
}
.Current-Course {
    display: flex;
    height: 23em;
    gap: 2em;
}
.course-img {
    width: 30em;
    background-color: #BDF7FF;
    padding: 1em;
    border-radius: 19px;
}
.course-img img{
    width: 100%;
    height: 100%;
}
.Product-Analytics {
    border: 6px solid #BDF7FF;
    width: 30em;
    padding: 2em 1em;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Product-Analytics h3 {
    font-size: 2em;
    color: #284265;
}
.Product-Analytics p {
    font-size: 1em;
    line-height: 169.52%;
}
.analytics-bot {
    display: flex;
    justify-content: space-between;
}
.analytics-bot a {
    color: #FC7900;
    text-decoration: none;
}

.progress {
    position: relative;
    display: block;
    width: 100%;

}
.back {
    display: block;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    background-color: #D9D9D9;
}
.front {
    top: 0;
    position: absolute;
    display: block;
    width: 40%;
    height: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    background-color: #FC7900;
}